<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      header ol li {
        border: none;
        float: none;
        height: auto;
        width: auto;
      }

      @media print, screen and (max-width: 960px) {
        div.toc {
          display: none;
        }
      }
    </style>
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <ul>
          <li><a href="{{ site.github.url }}">Document home</a></li>
          <li><a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}">View page source</a></li>
        </ul>

        <div class="toc">
          <p>
          <a href="{{ site.github.url }}/">Sympa Administration Manual</a>
          </p>
          <ol>
            <li>
            <a href="{{ site.github.url }}/scope.html">Audiences and scope</a>
            </li>
            <li>
            <a href="{{ site.github.url }}/requirements.html">Requirements</a>
            </li>
            <li>
            <a href="{{ site.github.url }}/install.html">Installing Sympa</a>
            {% if page.path == 'install.md' || page.path contains 'install/' %}
              <ol>
              <li>
              <a href="{{ site.github.url }}/install/install-sympa-distribution.html">Install Sympa distribution</a>
              {% if page.path contains 'install/install-sympa-distribution' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/install/install-sympa-distribution-debian.html">Debian package</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/install-sympa-distribution-ports.html">FreeBSD Ports/Packages</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/install-sympa-distribution-rpm.html">RPM package</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/install-sympa-distribution-source.html">Installing from source</a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/install/install-dependent-modules.html">Install dependent modules</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/install/generate-initial-configuration.html">Generate initial configuration</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/install/setup-database.html">Setup database</a>
              {% if page.path contains 'install/setup-database' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/install/setup-database-mysql.html">MySQL or MariaDB</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/setup-database-oracle.html">Oracle Database</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/setup-database-postgresql.html">PostgreSQL</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/setup-database-sqlite.html">SQLite</a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/install/configure-system-log.html">Configure system log</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/install/configure-mail-server.html">Configure mail server</a>
              {% if page.path contains 'install/configure-mail-server' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/install/configure-mail-server-exim.html">exim</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/configure-mail-server-opensmtpd.html">OpenSMTPD</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/configure-mail-server-postfix.html">Postfix</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/configure-mail-server-sendmail.html">Sendmail</a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/install/configure-http-server.html">Configure HTTP server</a>
              {% if page.path contains 'install/configure-http-server' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/install/configure-http-server-apache.html">Apache HTTP Server</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/configure-http-server-lighttpd.html">lighttpd</a>
                </li>
                <li>
                <a href="{{ site.github.url }}/install/configure-http-server-nginx.html">nginx</a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/install/start-mailing-list-service.html">Start mailing list service</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/install/automate-startup.html">Automate startup</a>
              </li>
              </ol>
            {% endif %}
            </li>
            <li>
            <a href="{{ site.github.url }}/upgrade.html">Upgrading Sympa</a>
            </li>
            <li>
            <a href="{{ site.github.url }}/admin.html">Administering Sympa</a>
            {% if page.path == 'admin.md' || page.path contains 'admin/' %}
              <ol>
              <li>
              <a href="{{ site.github.url }}/admin/services.html">Managing services</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/admin/cli.html">Command line interface</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/admin/list-creation.html">List creation</a>
              </li>
              <li>
              <a href="{{ site.github.url }}/admin/serveradmin.html">Listmaster portal on web interface</a>
              </li>
              </ol>
            {% endif %}
            </li>
            <li>
            <a href="{{ site.github.url }}/customize.html">Customizing Sympa</a>
            </li>
          </ol>

          <p>Appendices</p>
          <ol>
            <li>
            <a href="{{ site.github.url }}/man/sympa_toc.1.html">References</a>
            </li>
            <li>
            <a href="{{ site.github.url }}/layout.html">Directory layout</a>
            </li>
          </ol>
        </div>

      </header>

      <section>
      <nav>
      <p>
        {% if page.prev %}<a href="{{ page.prev | replace: ".md", ".html" }}" title="Prev">&#x25c0;</a>{% else %}<span title="Prev">&#x25c0;</span>{% endif %}
        {% if page.up %}<a href="{{ page.up | replace: ".md", ".html" }}" title="Up">&#x23eb;</a>{% else %}<span title="Up">&#x23eb;</span>{% endif %}
        {% if page.next %}<a href="{{ page.next | replace: ".md", ".html" }}" title="Next">&#x25b6;</a>{% else %}<span title="Next">&#x25b6;</span>{% endif %}
      </p>
      <hr />
      </nav>

      {{ content }}

      <nav>
      <hr />
      <p>
        {% if page.prev %}<a href="{{ page.prev | replace: ".md", ".html" }}" title="Prev">&#x25c0;</a>{% else %}<span title="Prev">&#x25c0;</span>{% endif %}
        {% if page.up %}<a href="{{ page.up | replace: ".md", ".html" }}" title="Up">&#x23eb;</a>{% else %}<span title="Up">&#x23eb;</span>{% endif %}
        {% if page.next %}<a href="{{ page.next | replace: ".md", ".html" }}" title="Next">&#x25b6;</a>{% else %}<span title="Next">&#x25b6;</span>{% endif %}
      </p>
      </nav>
      </section>

      <footer>
        <p>(LICENSE HERE)</p>

        <p><small>Theme originally designed by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
